.nav{
  border: 1px solid black;
  width: 100%;
  height: 50px;
  margin: auto;
  background-color: black;
  display: flex;
justify-content: space-around;

}

.nav1{
  margin-left: -30px;
}
.nav2{
  gap: 10px;
}
.navimg{
  height: 80%;
margin-top: 5px;
}
.nav2{
display: flex;
}
.nav21{
  margin-left: 20px;
  margin-top: 10px;
}

.a1{
  color: white;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: black;

}
.b1{
  color: white;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
font-weight: bold;
 
}

.foo{
  margin-top: 100px;
  width: 100%;
  height: auto;
  background-color: black;

}

.foo1{
 width: 90%;
 margin: auto;
padding: 10px;
}

.ful{
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: 
  #727272;
  margin-top: 10px;
  cursor: pointer;
}

.p1{
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: 
  white;
  margin-top: 30px;
  cursor: pointer;
}

.line{

 border: 1px solid #727272;
  width: 100%;
  margin-top: 20px;
}

.foo2{
  display: flex;
  gap: 50px;
}

.fimg{
  height: 50px;
}
.foo12{
  display: flex;
  width: 88%;
  margin: auto;
}
.p2{
  color: white;
  margin-left: 15px;
  margin-top: 10px;
}

.foo22{
  display: flex;
  height: 50px;
  margin-left: 50px;
}

.icon{
  display: flex;
  gap: 30px;
  height: 100px;
  margin-top: 20px;
  margin-left: 50px;
}

.io{
  color: #727272;
  height: 20px;
  width: 50px;
}
/* Home page css  start */
.h1{
  display: flex;
  width: 100%;
}
.h2{
width: 49%;
background-color: black;

}
.h21{
  width: 51%;
  background-color: black;
  padding: 70px;
 
  
  }
.hp{
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: white;


}
.hp1{

  font-size: 32px;
    font-weight: 700;
    font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    color: white;
    margin-top: 20px;
}

.hp2{
  font-size: 18px;
  /* font-weight: 700; */
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  color: white;
  margin-top: 20px;
}
.wh{
  padding: 15px;
  width: 350px;
  height: 120px;
  margin-top: 50px;
  background-color: white;
  border-radius: 5px;
}
.wh1{
  font-size: 17px;
    font-weight: 700;
    font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;

}


.se{
  width: 200px;
  font-size: 16px;
    
    font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    
   
    border: 1px solid #727272;

}
.wh2{
  font-size: 32px;
  font-weight: 700;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;

}

.H2{
  display: flex;
  width: 100%;
}
.hw{
width: 50%;
padding: 70px;
}
.t1{
  display: flex;
  margin-top: 30px;
}
.h3{
  font-size: 18px;
  font-weight: 700;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;

}
.ti{
  width: 80px;
  height: 80px;
  margin-right: 25px;
}
.ph3{
  font-size: 15px;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
color: #727272;
}
.t11{
  margin-top: 15px;
}

.bp{
  width: 100%;
  background-color: #f5f9ff ;
  height: 350px;
  border-radius: 5px;
  padding: 40px;
  
}
.qp{
  font-size: 18px;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
color: #727272;
margin-top: 20px;
}
.ti1{
  width: 110px;
  height: 120px;
  margin-bottom: 30px;
}
.Outb1{
  width: 50%;
}
.Outb12{display: flex;
width: 50%;
}
.Outb{
  display: flex;
  width: 90%;
  margin: auto;
}
.Outi{
  width: 270px;
  margin-left: 30px;

}

.line1{
  border: 5px solid #d6d5d5;
  margin-bottom: 70px;
}
.inp{
  margin-top: 40px;
  display: flex;
  width: 80%;
  margin-bottom: 40px;

}

.sr{
  margin-left: 20px;
}

