.nav{
  border: 1px solid black;
  width: 100%;
  height: 50px;
  margin: auto;
  background-color: black;
  display: flex;
justify-content: space-around;

}

.nav1{
  margin-left: -30px;
}
.nav2{
  gap: 10px;
}
.navimg{
  height: 80%;
margin-top: 5px;
}
.nav2{
display: flex;
}
.nav21{
  margin-left: 20px;
  margin-top: 10px;
}

.a1{
  color: white;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: black;

}
.b1{
  color: white;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
font-weight: bold;
 
}

.foo{
  margin-top: 100px;
  width: 100%;
  height: auto;
  background-color: black;

}

.foo1{
 width: 90%;
 margin: auto;
padding: 10px;
}

.ful{
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: 
  #727272;
  margin-top: 10px;
  cursor: pointer;
}

.p1{
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: 
  white;
  margin-top: 30px;
  cursor: pointer;
}

.line{

 border: 1px solid #727272;
  width: 100%;
  margin-top: 20px;
}

.foo2{
  display: flex;
  gap: 50px;
}

.fimg{
  height: 50px;
}
.foo12{
  display: flex;
  width: 88%;
  margin: auto;
}
.p2{
  color: white;
  margin-left: 15px;
  margin-top: 10px;
}

.foo22{
  display: flex;
  height: 50px;
  margin-left: 50px;
}

.icon{
  display: flex;
  gap: 30px;
  height: 100px;
  margin-top: 20px;
  margin-left: 50px;
}

.io{
  color: #727272;
  height: 20px;
  width: 50px;
}
/* Home page css  start */
.h1{
  display: flex;
  width: 100%;
}
.h2{
width: 49%;
background-color: black;

}
.h21{
  width: 51%;
  background-color: black;
  padding: 70px;
 
  
  }
.hp{
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: white;


}
.hp1{

  font-size: 32px;
    font-weight: 700;
    font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    color: white;
    margin-top: 20px;
}

.hp2{
  font-size: 18px;
  /* font-weight: 700; */
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  color: white;
  margin-top: 20px;
}
.wh{
  padding: 15px;
  width: 350px;
  height: 120px;
  margin-top: 50px;
  background-color: white;
  border-radius: 5px;
}
.wh1{
  font-size: 17px;
    font-weight: 700;
    font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;

}


.se{
  width: 200px;
  font-size: 16px;
    
    font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    
   
    border: 1px solid #727272;

}
.wh2{
  font-size: 32px;
  font-weight: 700;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;

}

.H2{
  display: flex;
  width: 100%;
}
.hw{
width: 50%;
padding: 70px;
}
.t1{
  display: flex;
  margin-top: 30px;
}
.h3{
  font-size: 18px;
  font-weight: 700;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;

}
.ti{
  width: 80px;
  height: 80px;
  margin-right: 25px;
}
.ph3{
  font-size: 15px;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
color: #727272;
}
.t11{
  margin-top: 15px;
}

.bp{
  width: 100%;
  background-color: #f5f9ff ;
  height: 350px;
  border-radius: 5px;
  padding: 40px;
  
}
.qp{
  font-size: 18px;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
color: #727272;
margin-top: 20px;
}
.ti1{
  width: 110px;
  height: 120px;
  margin-bottom: 30px;
}
.Outb1{
  width: 50%;
}
.Outb12{display: flex;
width: 50%;
}
.Outb{
  display: flex;
  width: 90%;
  margin: auto;
}
.Outi{
  width: 270px;
  margin-left: 30px;

}

.line1{
  border: 5px solid #d6d5d5;
  margin-bottom: 70px;
}
.inp{
  margin-top: 40px;
  display: flex;
  width: 80%;
  margin-bottom: 40px;

}

.sr{
  margin-left: 20px;
}
.cp{
  width: 100%;
  height: 650px;
  /* margin-top: 200px; */
}
.ci{
  width: 100%;
  height: 100%;
}
.na{
  margin-top: -400px;
 
}
.oi{
 background-color: white;
 width: 50%;
 
 margin-bottom: 20px;
}
.homeh{
  color: white;
  font-size: 48px;
  font-weight: 700;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
margin-left: 370px;
margin-bottom: 30px;
}





#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swb{
height: 150px;
margin-top: 100px;
margin-bottom: 70px;
}
.aw{
  color: white;
  font-size: 18px;
  font-weight: 100;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;

  margin-left: 450px;

}
.pun{
  display: flex;
  gap: 10px;
margin-left: 300px;
  
}
.pb1{
  width: 150px;
  background-color: white;
}

.serbox{
  width: 300px;
  /* border: 1px solid red; */
  margin: auto;
  height: 200px;
  background-color: white;
  display: flex;
 
}

.fak{
  margin-top: 50px;
}
.re{
  width: 77%;
  height: 230px;
 margin: auto;
 margin-top: 100px;

padding: 15px;
 border: 1px solid  black;


}
.re1{
  gap: 50px;
}
.spo{
  font-size: 15px;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
color: black;

}
.spi{
  margin-left: 40px;
  margin-top: 40px;
  height: 40px;
  margin-bottom: 5px;
}
.box1{
  width: 100%;
  height: 70px;
  border:  1px solid #dadada;
  display: flex;
}

.bi1{
  height: 50px;
 margin-top: 10px;
 margin-left: 5px;
 border-radius: 5px;
}

.pi1{
  font-size: 15px;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
color: black;
margin-left: 20px;
margin-top: 20px;
}
.ipg1{
  font-size: 15px;
  font-weight: 500;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
color: black;
/* margin-left: 40px; */
text-align: center;
margin-top:15px;
margin-bottom: 50px;
}
.ipg2{
  font-size: 12px;
  font-weight: 500;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
color: #727272;
/* margin-left: 40px; */
text-align: center;
margin-top:-50px;
}
.rep1{
  font-size: 18px;
  font-weight: 500;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
color: #727272;
  text-align: center;
  margin-top: 10px;
}
.newh1{
  font-size: 33px;
  font-weight: 700;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
color: black;
  text-align: center;
  margin-top: 50px;
}
.md1{
  margin-left: 180px;
  margin-top: -20px;
}
.re1{
  margin-top: 80px;
  margin-left: 100px;
}
.line31{
  border: 5px solid #dadada;
}

.sew1{
  width: 80%;
  margin: auto;
  display: flex;
}
.img1{
  height: 150px;
  margin-top: 40px;
  margin-right: 20px;
  width: 250px;
  border-radius: 5px;
}
.foo112{
  width: 100%;
  margin-top: -100px;
}