.nav{
  border: 1px solid black;
  width: 100%;
  height: 50px;
  margin: auto;
  background-color: black;
  display: flex;
justify-content: space-around;

}

.nav1{
  margin-left: -30px;
}
.nav2{
  gap: 10px;
}
.navimg{
  height: 80%;
margin-top: 5px;
}
.nav2{
display: flex;
}
.nav21{
  margin-left: 20px;
  margin-top: 10px;
}

.a1{
  color: white;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: black;

}
.b1{
  color: white;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
font-weight: bold;
 
}

.foo{
  margin-top: 300px;
  width: 100%;
  height: auto;
  background-color: black;

}

.foo1{
 width: 90%;
 margin: auto;
padding: 10px;
}

.ful{
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: 
  #727272;
  margin-top: 10px;
  cursor: pointer;
}

.p1{
  font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: 
  white;
  margin-top: 30px;
  cursor: pointer;
}

.line{

 border: 1px solid #727272;
  width: 100%;
  margin-top: 20px;
}

.foo2{
  display: flex;
  gap: 50px;
}

.fimg{
  height: 50px;
}
.foo12{
  display: flex;
  width: 88%;
  margin: auto;
}
.p2{
  color: white;
  margin-left: 15px;
  margin-top: 10px;
}

.foo22{
  display: flex;
  height: 50px;
  margin-left: 50px;
}

.icon{
  display: flex;
  gap: 30px;
  height: 100px;
  margin-top: 20px;
  margin-left: 50px;
}

.io{
  color: #727272;
  height: 20px;
  width: 50px;
}